@mixin absolute-center-all-elements($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin background-color($bg-color: #1a1e23) {
  background-color: $bg-color;
}

@mixin box-shadow($top: 5px, $right: 5px, $bottom: 5px, $left: 1px) {
  -webkit-box-shadow: $top $right $bottom $left #fff;
  -moz-box-shadow: $top $right $bottom $left #fff;
  box-shadow: $top $right $bottom $left #fff;
}

@mixin transition($duration: 0.3s) {
  transition: all $duration linear;
}

@mixin animate-bounce($duration: 4s, $animation: bounce) {
  animation: $animation $duration infinite;
}

@mixin animate-width($width) {
  animation: bounce $width infinite;
}

@mixin btn($textColor: #000, $bgColor: #fff) {
  padding: 15px 30px;
  background-color: $bgColor;
  border-radius: 10px;
  color: $textColor;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
