
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}
main {
  margin-top: 3.5em;
  @media screen and (max-width: 500px) {
    margin-top: 0em;
  }
}

hr {
  margin: 2em auto;
  width: 20%;
}
