@import "../../../assets/scss/main.scss";

.NavigationArrow {
  & a {
    & span.arrow-down {
      @include transition(1s);
      @include animate-bounce();
      color: white;
      font-size: 3em;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 5px 15px;
    }
    & span.arrow-up {
      @include transition(1s);
      @include animate-bounce();
      color: white;
      font-size: 3em;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 0px 15px 6px 15px;
    }
  }
}