#HomepageExperience {
    & h3 {
        border-bottom: 3px solid red;
        padding-bottom: 10px;
        width: 75%;
        margin: 0 auto;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}