@import "../../../assets/scss/main.scss";
nav {
  @include box-shadow(1px, 1px, 5px, 1px);
  z-index: 99;
  background-color: #1f1f1f;

  & .navbar-brand {
    color: #fff !important;
  }
  & a.nav-link {
    color: #fff !important;
    @media screen and (max-width:500px){
text-align: center;
    }
  }
  & .navbar-brand a{
    color: #fff;
    text-decoration: none;
  }

  
}
