@import "../../../../assets/scss/main.scss";

#HomepageAboutMe {
  background-color: rgb(31, 31, 31);
  color: #fff;
  padding: 5em 0 2em 0;
  & img {
    width: 200px;
  }
  & .aboutMe-contactDetails {
    & > div {
      padding: 0;
      & ul {
        list-style-type: none;
        padding: 0;
        & li {
          padding: 5px 0;
          & span {
            width: 40px;
            font-size: 1.4em;
          }
        }
      }
    }

    & .aboutMe-downloadCv {
      margin-top: 2em;
      a {
        @include transition(0.4s);
        @include btn();
        border: 1px solid #1f1f1f;

        &:hover {
          @include btn(#fff, #1f1f1f);
          border: 1px solid #fff;
          & span {
            padding: 0 15px;
            display: inline-flex;
            @include animate-bounce();
          }
        }

        & span {
          display: none;
          padding: 0 10px;
        }
      }
    }
  }
}
