#HomepagePortfolio {
  background-color: #1f1f1f;
  & .lead a {
    text-decoration: none;
    color: #fff;
    font-weight: 700
  }
  & .item {
    & img {
      cursor: pointer;
      min-height: 200px;
      margin-bottom: 20px;
    }
  }
}
