.AboutMe {
    p {
        font-size: 1em;
    }

    .blockquote {
        font-size: 1.2rem;
    }

    & h3 {
        border-bottom: 3px solid red;
        padding-bottom: 10px;
        width: 65%;
        margin: 0 auto;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    & .content {
        border-left: 1px solid #c3c3c3;
        padding: 0 2em;
    }
}