.HomepageProfile {
  & .jumbotron {
    height: 85vh;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-image: linear-gradient(
        to right bottom,
        rgba($black, 1),
        rgba($dark_green, 0.65)
      ),
      url("https://steven-jackson-dev.github.io/online-cv/static/media/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.a3f7cf93.jpg");
    & .intro {
      height: inherit;
      & .container {
        height: inherit;
        animation: slideInFromLeft 0.8s ease-out;
        backface-visibility: hidden;

        & .row {
          height: inherit;
          position: relative;
          color: $white;

          & .intro__wrapper {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -70%);
            box-shadow: 0px 0px 2px #c0c0c0;
            padding: 5vh 10vw;
            background-color: rgba($white, 0.15);
            transition: all 0.4s;
            backface-visibility: hidden;

            hr {
              width: 25em;
            }
            &:hover {
              box-shadow: 0px 0px 8px #c0c0c0;
              top: 59%;
            }

            & .heading {
              letter-spacing: 0.6rem;
              transition: inherit;
            }
            & .lead {
              font-size: 1.6rem;
              letter-spacing: 0.4rem;
              font-weight: 400;
              display: inline-block;
              font-style: italic;
            }
            & a {
              &.profile-links {
                & span {
                  font-size: 3em;
                  margin-top: 2vh;
                  border: 0px;
                  border-radius: 0;
                  padding: 0px;
                  animation: none;
                  color: #fff;

                  &:hover {
                    @include animate-bounce();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
