@import "assets/scss/main.scss";

#Portfolio {
  h3 {
    font-size: 1.4rem;
  }
  & .lead a {
    text-decoration: none;
    font-weight: 700;
  }
  & figure {
    border: 1px solid rgba(50, 50, 50, 0.3);
    padding: 2em;
    @include transition();
    &:hover {
      -webkit-box-shadow: 11px 11px 5px 0px rgba(50, 50, 50, 0.1);
      -moz-box-shadow: 11px 11px 5px 0px rgba(50, 50, 50, 0.1);
      box-shadow: 11px 11px 5px 0px rgba(50, 50, 50, 0.1);
    }
    & figcaption {
      color: #000;
    }
  }
  & .item {
    & img {
      cursor: pointer;
      min-height: 200px;
      margin-bottom: 20px;
    }
  }
}
